<div class="container">

  <div style="padding: 1rem 1rem 0" class="section-head-container">
    <button (click)="clearKeystore()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Pair with Pioneer Platform</h1>
    <div style="width: 40px"></div>
  </div>

  <div class="dialog-content">
    <div mat-dialog-content>

      Pioneer Pairing Code:

      <h1>{{pairingCode}}</h1>

      <button *ngIf="!loading" mat-flat-button color="primary" (click)="onPair()" [disabled]="loading">
        <span>Pair Platform</span>
      </button>
    </div>

  </div>

</div>
